@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body {
    color: white;
}

.clock {
    max-width: 100%;
    width: fit-content;
    padding: 30px;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 50px;
    font-family: orbitron;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(255, 255, 255, 0.45);
}

.planoFundo1 {
    background: url(https://rare-gallery.com/mocahbig/56714-MinimalistArtistic-Landscape-4k-Ultra-HD-Wallpaper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.planoFundo2 {
    background: url(https://wallpaper.dog/large/20500142.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.planoFundo3 {
    background: url(https://free4kwallpapers.com/uploads/originals/2020/04/06/abstract-nature-art-wallpaper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Footer*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.hero {
    margin-top: 210px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Orbitron;
    font-size: 0.8rem;
}

.social-links {
    display: flex;
}

.social-links a {
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    margin: 0 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.social-links a .fab {
    font-size: 25px;
    line-height: 60px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

.social-links a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: #000;
    background: linear-gradient(-45deg, #ed1c94, #ffec17);
    position: absolute;
    transition: 0.5s;
}

.social-links a:hover::after {
    top: 0;
}

.social-links a:hover .fab {
    color: #fff;
}

.social-links a:hover {
    transform: translateY(-10px);
}

@media only screen and (max-width: 600px) {
    .clock {
        font-size: 30px;
    }

    .hero {
        margin-top: 250px;
    }

    .social-links a {
        width: 50px;
        height: 50px;
    }

    .social-links a .fab {
        position: relative;
        font-size: 20px;
        line-height: 60px;
    }

    p {
        font-size: 10px;
    }
}
